<h1>Built-in Pipes</h1>
<div class="container">
    <p>
        without JSON PIPE:
        <b>{{ exampleObject }}</b>
    </p>
    <p>
        with JSON PIPE:
        <b>{{ exampleObject | json }}</b>
    </p>
    <hr />
    <p>
        without DATE PIPE:
        <b>{{ exampleDate }}</b>
    </p>
    <p>
        with DATE PIPE:
        <b>{{ exampleDate | date }}</b>
    </p>
    <hr />
    <p>
        without CURRENCY PIPE:
        <b>{{ exampleCurrency }}</b>
    </p>
    <p>
        with CURRENCY PIPE:
        <b>{{ exampleCurrency | currency : "EUR" }}</b>
    </p>
    <hr />
    <p>
        without DECIMAL PIPE:
        <b>{{ exampleDecimal }}</b>
    </p>
    <p>
        with DECIMAL PIPE:
        <b>{{ exampleDecimal | number : "1.0-0" }}</b>
    </p>
    <hr />
    <p>
        without UPPERCASE PIPE:
        <b>{{ exampleString }}</b>
    </p>
    <p>
        with UPPERCASE PIPE:
        <b>{{ exampleString | uppercase }}</b>
    </p>
    <hr />
    <p>
        without LOWERCASE PIPE:
        <b>{{ exampleString }}</b>
    </p>
    <p>
        with LOWERCASE PIPE:
        <b>{{ exampleString | lowercase }}</b>
    </p>
    <hr />
    <p>
        without PERCENT PIPE:
        <b>{{ examplePercent }}</b>
    </p>
    <p>
        with PERCENT PIPE:
        <b>{{ examplePercent | percent }}</b>
    </p>
    <hr />
    <p>
        without SLICE PIPE:
        <b>{{ exampleSlice }}</b>
    </p>
    <p>
        with SLICE PIPE:
        <b>{{ exampleSlice | slice : 0 : 5 }}</b>
    </p>
    <hr />
    <p>
        without ASYNC PIPE:
        <b>{{ exampleAysnc }}</b>
    </p>
    <p>
        with ASYNC PIPE:
        <b>{{ exampleAysnc | async }}</b>
    </p>
</div>
