/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    display: flex;
    justify-content: center;

    h1 {
        font-size: 100px;
        text-align: center;
        color: #ffbd59;
    }

    .container {
        p {
            text-align: center;
            font-size: 15px;
            span {
                color: yellow;
            }
        }
    }
}
